.header {
  box-sizing: border-box;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  z-index: 10;
  padding: 18px 0;
  z-index: 1;
  margin: 0 auto;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .header {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1050px) {
  .header {
    max-width: 850px;
  }
}

@media screen and (max-width: 880px) {
  .header {
    max-width: 700px;
  }
}

@media screen and (max-width: 720px) {
  .header {
    max-width: 500px;
  }
}

@media screen and (max-width: 515px) {
  .header {
    max-width: 400px;
  }
}

@media screen and (max-width: 420px) {
  .header {
    max-width: 300px;
  }
}