.about-project {
  margin: 0 auto;
  max-width: 1140px;
}

.about-project__title {
  padding: 110px 0 23px 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #000000;
}

.about-project__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;
  padding-top: 70px;
  padding-bottom: 110px;
  border-top: 1px solid #000000;
}

.about-project__content-block-title {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #000000;
  margin: 0 0 26px 0;
}

.about-project__content-block-desciption {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin: 0;
}

.about-project__diagram {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 36px 31px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-bottom: 110px;
}

.about-project__diagram-backend {
  background-color: #000000;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-project__diagram-frontend {
  background-color: rgba(242, 242, 242, 1);
  color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-project__diagram-caption {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0;
  color: rgba(160, 160, 160, 1);
}

@media screen and (max-width: 1200px) {
  .about-project {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1050px) {
  .about-project {
    max-width: 850px;
  }
}

@media screen and (max-width: 880px) {
  .about-project {
    max-width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .about-project {
    max-width: 668px;
  }

  .about-project__title {
    padding: 90px 0 23px 0;
  }

  .about-project__content {
    padding-bottom: 93px;
    grid-column-gap: 30px;
  }

  .about-project__content-block-desciption {
    font-size: 12px;
    line-height: 18px;
  }

  .about-project__content-block-title {
    margin-bottom: 22px;
  }

  .about-project__diagram {
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 720px) {
  .about-project {
    max-width: 500px;
  }

  .about-project__content {
    grid-column-gap: 10px;
  }
}

@media screen and (max-width: 515px) {
  .about-project {
    max-width: 400px;
  }
}

@media screen and (max-width: 420px) {
  .about-project {
    max-width: 284px;
  }

  .about-project__title {
    padding: 70px 0 28px 0;
    font-size: 18px;
    line-height: 22px;
  }

  .about-project__content {
    padding: 60px 0;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: px;
    grid-row-gap: 56px;
  }

  .about-project__content-block-title {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 22px;
  }

  .about-project__content-block-desciption {
    font-size: 11px;
    line-height: 16px;
  }

  .about-project__diagram {
    margin-bottom: 70px;
    grid-template-columns: 100px 184px;
    grid-template-rows: 35px 23px;
  }

  .about-project__diagram-backend {
    font-size: 11px;
    line-height: 13px;
  }

  .about-project__diagram-frontend {
    font-size: 11px;
    line-height: 13px;
  }

  .about-project__diagram-caption {
    font-size: 11px;
    line-height: 13px;
  }
}