.techs {
  background-color: rgba(242, 242, 242, 1);
  width: 100%;
}

.techs__content {
  max-width: 1140px;
  margin: 0 auto;
}

.techs__content-title {
  padding: 100px 0 23px 0;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  color: #000000;
}

.techs__content-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: #000000 solid 1px;
}

.techs__content-block-title {
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
  margin: 90px 0 26px 0;
}

.techs__content-block-caption {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
  max-width: 460px;
  margin: 0;
}

.techs__content-block-list {
  display: flex;
  max-width: 700px;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin: 100px 0;
}

.techs__content-block-list-node {
  width: 90px;
  height: 60px;
  background-color: rgba(232, 232, 232, 1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.04em;
  color: #000000;
}

@media screen and (max-width: 1200px) {
  .techs__content {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1050px) {
  .techs__content {
    max-width: 850px;
  }
}

@media screen and (max-width: 880px) {
  .techs__content {
    max-width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .techs__content {
    max-width: 668px;
  }

  .techs__content-title {
    padding-top: 90px;
  }

  .techs__content-block-list-node {
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 15px;
  }

  .techs__content-block-list {
    margin-bottom: 90px;
    margin-top: 83px;
  }

  .techs__content-block-caption {
    font-size: 12px;
    line-height: 18px;
  }

  .techs__content-block-title {
    margin: 80px 0 22px 0;
  }
}

@media screen and (max-width: 720px) {
  .techs__content {
    max-width: 500px;
  }
}

@media screen and (max-width: 515px) {
  .techs__content {
    max-width: 400px;
  }
}

@media screen and (max-width: 420px) {
  .techs__content {
    max-width: 284px;
  }

  .techs__content-title {
    padding: 70px 0 28px 0;
    font-size: 18px;
    line-height: 22px;
  }

  .techs__content-block-title {
    font-size: 30px;
    line-height: 36px;
    margin: 60px 0 24px 0;
  }

  .techs__content-block-caption {
    font-size: 11px;
    line-height: 16px;
  }

  .techs__content-block-list {
    margin-bottom: 70px;
    margin-top: 50px;
  }

  .techs__content-block-list {
    max-width: 178px;
  }
}